<div class="mb-2 flex justify-between items-center overflow-hidden">
  <div>
    <h1 class="text-2xl font-bold">
      {{ pageTitle() }}
    </h1>
    <nav class="hidden md:flex items-center gap-1" aria-label="Breadcrumb Alternative">
      @for (crumb of breadcrumb(); track crumb; let last = $last;) {
        <div class="flex items-center">
                    <span
                      [ngClass]="{
                        'cursor-default font-bold ': last,
                        ' text-blue-700 cursor-pointer underline': !last,
                        }"
                      [attr.aria-current]="last ? 'page' : null"
                      [tabindex]="last ? -1 : 0"
                      (click)="goToPage(crumb, last)"
                      (keydown.enter)="goToPage(crumb, last)">
                        {{ crumb }}
                    </span>

          @if (!last) {
            <mat-icon>arrow_forward_ios</mat-icon>
          }
        </div>
      }
    </nav>
  </div>
  <div>
    <ng-content></ng-content>
    <button class="p-4 bg-gray-500 text-white rounded-xl rounded-lg shadow-md transition-all duration-200 transform hover:scale-105" (click)="logout()">logout</button>
  </div>

</div>
